<%= form_with(model: message, class: "contents", id: dom_id(message)) do |form| %>
  <div class="grid grid-cols-4 gap-3"> 
    <div class="col-start-1 col-end-4">
      <%= form.text_area :content, rows: 4, autofocus: "true", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 text-black w-full" %>
      <%= form.hidden_field :tavern_id, value: tavern_id %>
    </div>

    <div class="col-start-4 col-end-5">
      <%= form.submit "Send > ", class: "rounded-lg px-3 py-2 mt-2 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
