<div id="<%= dom_id message %>" class="flex-start w-fit max-w-xl p-2 pr-4 m-2" style="<%="background-color:#{message.user.color}"%>;">
    <p class="w-content"> <%= message.content %> </p> 
    <span class="text-xs"> <%= message.user.pseudo_name %>  </span> 
</div>
